<html>
  <head>

  </head>
  <body>
    <h1 class="light blue first">We'd love to talk to you too.</h1>
    <br>
    <p>We hate contact forms, so naturally, we didn't put one in our website. Assuming you have an email, you can email us at info@blogforce.com. If you don't have an email, I can't believe you're reading this, and you can call us at 262-388-3309.</p>
  </body>
</html>
