<html>
  <head>

  </head>
  <body>
    <% if user_signed_in? %>

      <h1 class="blue">Get a link below, and start making some money.</h1>

    <% else %>

      <h1>Blog Force is the best way to make money with your blog.</h1>

    <% end %>
  </body>
</html>
