<html>
  <head>

  </head>
  <body>
    <h1 class="blue">How it Works</h1>
    <br>
    <p>
      We use afilliate links to create content for your customers that feels natural, looks good, and flows nicely. When you drive sales through the links, Amazon is nice enough to give us a cut of the sales. We then give that back to you. It's a happy cycle. Here are the steps:
    </p>
    <br>
      <ol>

        <li>Pick Up a Link</li>
        <p>Find a link that is relevant for your site. This is where we begin.</p>

        <li>Create Your Post</li>
        <p>Now that you have your link, it's time to do the bulk of the work. You need to create a post that feels like something natural. You should push your listeners to buy the product. That's how we make money.</p>

        <li>Check Back and Repeat</li>
        <p>You can see your progress and money made at <a href="/pages/me" class="btn-link">this page.</a> After that, it's always a good idea to make another campaign. To generate more revenue.</p>

      </ol>
  </body>
</html>
