<html>
  <head>

  </head>
  <body>
    <h1 class="blue text-center underline">Blog Force/h1>
    <br>
    <h3 class="blue">About Blog Force</h3>
    <div class="littlespace"></div>
    <p class="packed">
      Blog Force is a web company that delivers Amazon Affiliate deals to provide bloggers and website owners with a way to monetize through native advertising. Man, that last sentence was a mouthful. So basically, it's really cool. We give you all the resources you need to start making money with your blog doing what you do best- creating awesome content for your readers. Want to know how it works? Keep reading.
    </p>
    <br>
    <h3 class="blue">How it Works</h3>
    <div class="littlespace"></div>
    <p class="packed">
      Blog Force is made possible through Amazon. Yay, Amazon! (Don't worry, they're not paying me. Maybe they should.) Basically, we advertise for Amazon, using their affiliate program, and they pay us, but not really. When you make a post, you start generating sales to that product. When you do that, we get a percentage of it. And then we give that back to you. Then, you can do it over again. It's a happy cycle. You can learn more about Amazon's affiliate links at <a href="https://affiliate-program.amazon.com/" class="btn-link" target="_blank">their webiste.</a> If you have any questions about this process, you can email us at info@blogforce.com</a>
    </p>
  </body>
</html>
