<html>
  <head>

  </head>
  <body>
    <h1>Your Account</h1>
    <p><%= current_user.email %></p>
    <p><%= current_user.website %></p>
    <h3>Your Campaigns:</h3>
    <!-- Campaigns -->
    <!-- Money From Each Campaign -->
    <p>Total Money Earned</p>
    <a href="/users/edit" class="btn-link">Edit Profile</a>
  </body>
</html>
