<html>
  <head>
  </head>
  <body>
    <h1>Sorry, members only. But you can sign in <a href="/users/sign_in" class="btn-link">here.</a> Or, if you don't already have an account, you can make one <a href="/users/sign_up" class="btn-link">here.</a></h1>
  </body>
</html>
